{% extends "base.html" %}

{% block content %}
    <h2>Car {{ car.id }} information:</h2>
    <p>Manufacturer: {{ car.manufacturer.name }}, {{ car.manufacturer.country }}</p>
        <p>
            <a href="{% url "taxi:car-update" pk=car.id %}"><button class="btn btn-secondary">Update</button></a>
            <a href="{% url "taxi:car-delete" pk=car.id %}"><button class="btn btn-secondary">Delete</button></a>
        </p>
    <h3>Drivers</h3>
    <hr>
    <ul>
    {% for driver in car.drivers.all %}
        <li>{{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})</li>
    {% endfor %}
    </ul>
{% endblock %}
